.nsfz {
  width: 1200px;
  height: 48px;
  margin: 0 auto; }
  .nsfz b {
    font: 14px/40px "Microsoft Yahei";
    font-weight: 600; }

.product {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  .product .pic_info {
    float: left; }
    .product .pic_info .xt {
      float: left;
      width: 400px;
      height: 400px;
      position: relative; }
      .product .pic_info .xt img {
        width: 400px; }
      .product .pic_info .xt .move_b {
        width: 100px;
        height: 100px;
        background-color: red;
        opacity: .3;
        position: absolute;
        left: 0;
        top: 0;
        display: none; }
      .product .pic_info .xt .show_1 {
        display: block; }
    .product .pic_info .xtlist {
      width: 400px;
      height: 56px;
      background: red; }
    .product .pic_info .share {
      height: 35px; }
    .product .pic_info .show_1 {
      display: block !important; }
    .product .pic_info .big {
      width: 400px;
      height: 400px;
      overflow: hidden;
      position: absolute;
      left: 400px;
      display: none; }
      .product .pic_info .big .bigpic {
        z-index: 800;
        position: absolute;
        top: 0;
        left: 0; }
  .product .show_info {
    float: left;
    width: 780px;
    height: 533px; }
    .product .show_info .left {
      width: 550px; }
      .product .show_info .left .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        border-bottom: 1px solid #ccc;
        padding: 0 6px 12px 0; }
      .product .show_info .left .star {
        padding: 5px 0 10px 0; }
        .product .show_info .left .star span {
          display: inline-block;
          width: 70px;
          height: 12px;
          background: url(../img/icon_star.png) repeat-x 0 -12px; }
      .product .show_info .left .price {
        width: 550px;
        height: 143px;
        display: flex; }
        .product .show_info .left .price .left {
          width: 280px;
          background-color: #fcfaf7;
          line-height: 24px; }
        .product .show_info .left .price .right a span {
          display: inline-block;
          width: 118px;
          height: 118px;
          position: relative; }
          .product .show_info .left .price .right a span img {
            display: block;
            width: 118px;
            height: 118px;
            background-color: #fff;
            position: absolute;
            left: 140px;
            top: -130px;
            border: 1px white solid;
            border-radius: 5px; }
      .product .show_info .left .lq {
        height: 30px;
        line-height: 30px;
        padding: 0 0 7px;
        border-bottom: 1px dashed #ccc; }
        .product .show_info .left .lq span {
          letter-spacing: 24px; }
        .product .show_info .left .lq a {
          color: white;
          background: url(../img/pro_quan.png) no-repeat; }
      .product .show_info .left .buy .num {
        float: left;
        display: flex; }
        .product .show_info .left .buy .num .num_0 {
          height: 34px;
          border: 1px solid #e9e9e9;
          width: 38px;
          text-align: center;
          display: block; }
        .product .show_info .left .buy .num .num_1 .num_2 {
          width: 16px;
          height: 16px;
          display: block; }
        .product .show_info .left .buy .num .num_1 .num_3 {
          width: 16px;
          height: 16px;
          display: block; }
        .product .show_info .left .buy .num a {
          display: block;
          width: 23px;
          height: 17px;
          background-image: url(../img/product_sprites.png);
          background-repeat: no-repeat;
          background-color: red; }
      .product .show_info .left .buy .buy-box {
        float: left;
        height: 36px; }
        .product .show_info .left .buy .buy-box .jrgwc {
          margin-left: 40px;
          padding: 0 10px 0 10px;
          font-size: 16px;
          color: white;
          line-height: 36px;
          display: inline-block;
          background: red; }
          .product .show_info .left .buy .buy-box .jrgwc i {
            display: inline-block;
            height: 20px;
            width: 20px;
            line-height: 36px;
            background: url(../img/product_sprites.png) no-repeat -40px -35px; }
        .product .show_info .left .buy .buy-box .ljgm {
          display: inline-block;
          padding: 0 10px 0 10px;
          font-size: 16px;
          background-color: #ffedee;
          border: 1px solid red;
          color: red;
          line-height: 36px; }
    .product .show_info .right1 {
      float: right;
      width: 180px;
      height: 200px; }
      .product .show_info .right1 .qjd {
        padding: 20px 0 20px 0; }
      .product .show_info .right1 .dpzf {
        padding: 10px 0 20px 0; }
      .product .show_info .right1 .msfw {
        border-bottom: 1px dashed #ccc; }

.spxq {
  width: 970px;
  margin: 0 auto; }
  .spxq ul {
    width: 970px;
    height: 26px;
    margin: 0 auto;
    font-size: 16px; }
    .spxq ul .xq {
      padding: 5px 20px 5px 20px;
      float: left;
      border: 1px solid black;
      border-bottom: none;
      color: red; }
    .spxq ul .pl {
      padding: 5px 20px 5px 20px;
      float: left;
      border-bottom: 1px solid black; }
    .spxq ul .wd {
      padding: 5px 20px 5px 20px;
      float: left;
      border-bottom: 1px solid black; }
  .spxq .pinpai {
    font-size: 12px; }
  .spxq .xiangqing {
    border-left: 2px solid red;
    border-bottom: 2px solid #e5e5e5; }
    .spxq .xiangqing span {
      font-size: 16px;
      height: 22px;
      padding: 0 30px 0 6px;
      padding-bottom: 3px;
      margin-bottom: -2px;
      background: url(../img/product_sprites.png) no-repeat right -525px;
      background-color: #e5e5e5; }
  .spxq .tupian {
    width: 970px;
    margin: 0 auto; }
    .spxq .tupian img {
      width: 970px;
      margin: 0 auto; }
  .spxq .price_indication {
    padding: 11px 20px 15px;
    background: #fafafa;
    font: 12px/22px "Microsoft Yahei";
    color: #3c3c3c;
    margin-bottom: 20px; }
    .spxq .price_indication .title {
      font: bold 14px/30px "Microsoft Yahei";
      color: #323232; }
    .spxq .price_indication ul li {
      font-size: 12px; }
      .spxq .price_indication ul li span {
        font-weight: bold;
        padding-right: 10px; }
        .spxq .price_indication ul li span i {
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #ccc;
          margin-right: 5px; }

/*# sourceMappingURL=detail.css.map */
