@charset "UTF-8";
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
img,
section {
  margin: 0;
  padding: 0; }

body,
button,
input,
select,
textarea {
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #ca151d; }

.relative {
  position: relative; }

.left,
.fl {
  float: left; }

.right,
.fr {
  float: right; }

ins,
a {
  text-decoration: none;
  color: #3a3a3a; }

.clearfix:after {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400; }

.span-232 {
  width: 232px; }

.span-968 {
  width: 968px; }

.hr-27 {
  height: 27px; }

.hr-13 {
  height: 13px; }

.hide,
.hidden {
  display: none; }

.show {
  display: block; }

.hr-1,
.hr-2,
.hr-3,
.hr-4,
.hr-5,
.hr-7,
.hr-9,
.hr-10,
.hr-15,
.hr-18,
.hr-20,
.hr-22,
.hr-25,
.hr-30,
.hr-32.hr-35,
.hr-40,
.hr-45,
.hr-50,
.hr-55,
.hr-60,
.hr-65,
.hr-70,
.hr-75,
.hr-80,
.hr-85,
.hr-90 {
  clear: both;
  font-size: 1px;
  line-height: 1px; }

img {
  vertical-align: top; }

.header-top {
  height: 34px;
  width: 100%;
  background-color: #f9f9f9;
  line-height: 34px; }
  .header-top .wrap {
    width: 1200px;
    margin: 0 auto; }
    .header-top .wrap .left .ddnewhead_area .ddnewhead_area_a {
      position: relative; }
      .header-top .wrap .left .ddnewhead_area .ddnewhead_area_a span {
        display: inline-block;
        width: 4px;
        height: 4px;
        border: 1px solid #666;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        position: absolute;
        left: 65px;
        top: 3px; }
    .header-top .wrap .left .ddnewhead_area .menu {
      width: 270px;
      height: 180px;
      border: 1px solid black;
      padding: 10px;
      box-sizing: border-box;
      display: none; }
      .header-top .wrap .left .ddnewhead_area .menu a {
        margin-left: 8px; }
      .header-top .wrap .left .ddnewhead_area .menu .ddnewhead_area_a:hover .menu {
        display: block; }
    .header-top .wrap .right {
      float: right; }
      .header-top .wrap .right .ddnewhead_welcome {
        float: left;
        padding: 0 0 0 10px; }
        .header-top .wrap .right .ddnewhead_welcome .login {
          color: red;
          padding: 0 5px 0 0; }
      .header-top .wrap .right ul {
        float: right; }
        .header-top .wrap .right ul li {
          float: left;
          padding: 0 5px 0 5px; }
        .header-top .wrap .right ul em {
          padding-left: 5px; }

.header-middle {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }
  .header-middle .logo {
    float: left; }
  .header-middle .sousuo {
    float: left;
    position: relative; }
    .header-middle .sousuo .sousuo-top {
      position: relative;
      margin-top: 20px; }
      .header-middle .sousuo .sousuo-top input {
        position: absolute;
        width: 398px;
        height: 18px;
        border: 2px solid #ff2832;
        border-right: none;
        padding: 9px 0 9px 10px;
        outline: none; }
      .header-middle .sousuo .sousuo-top .fenlei {
        position: absolute;
        top: 0px;
        left: 410px;
        border: 2px solid #ff2832;
        border-left: 0px solid #dedede;
        width: 92px;
        height: 36px;
        font: 16px/36px "Microsoft Yahei";
        color: #969696;
        padding: 0 0 0 14px;
        cursor: pointer;
        background-color: #f6f6f6; }
        .header-middle .sousuo .sousuo-top .fenlei span {
          position: absolute;
          left: 80px;
          top: 16px;
          display: inline-block;
          border: 5px solid #969696;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid transparent; }
      .header-middle .sousuo .sousuo-top .button {
        position: absolute;
        left: 510px;
        width: 48px;
        height: 40px;
        background: url(../img/head_sprite2.png) no-repeat 0 -350px; }
    .header-middle .sousuo .sousuo-bottom {
      width: 550px;
      display: inline-block;
      position: absolute;
      top: 70px; }
      .header-middle .sousuo .sousuo-bottom a {
        padding-right: 20px; }
      .header-middle .sousuo .sousuo-bottom p {
        display: inline; }
        .header-middle .sousuo .sousuo-bottom p a {
          position: absolute;
          right: -30px; }
  .header-middle .car {
    float: right; }
    .header-middle .car .gouwuche {
      float: left;
      width: 107px;
      height: 40px;
      border-color: #ff2832;
      background: url(../img/icon_cart.png) no-repeat 5px 0 #ff2832;
      margin-top: 20px;
      position: relative; }
      .header-middle .car .gouwuche span:nth-child(1) {
        color: #f6f6f6;
        font-size: 16px;
        line-height: 36px;
        position: absolute;
        left: 36px; }
      .header-middle .car .gouwuche span:nth-child(2) {
        color: #f9f9f9;
        font-size: 16px;
        line-height: 36px;
        position: absolute;
        left: 86px; }
    .header-middle .car .dingdan {
      width: 82px;
      height: 36px;
      float: left;
      background-color: f6f6f6;
      border: 2px solid #666;
      text-align: center;
      line-height: 36px;
      font-size: 16px;
      color: #8c8c8c;
      margin-top: 20px; }

.header-bottom .header-bottom1 {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden; }
  .header-bottom .header-bottom1 .all {
    float: left;
    padding-left: 20px;
    width: 180px;
    font: 14px/40px "Microsoft Yahei";
    color: #fff;
    background: url(../img/head_sprite.png) no-repeat 161px -567px #ff2832; }
  .header-bottom .header-bottom1 .fenlei {
    float: left;
    color: #323232;
    font: 14px/40px "Microsoft Yahei";
    display: block;
    font-weight: bold; }
    .header-bottom .header-bottom1 .fenlei ul li {
      float: left;
      padding: 0 15px; }
.header-bottom .header-bottom2 {
  border-top: 2px solid #ff2832;
  width: 100%;
  background: #f5f5f5;
  height: 30px; }
  .header-bottom .header-bottom2 ul {
    width: 1200px;
    margin: auto; }
    .header-bottom .header-bottom2 ul li {
      float: left;
      line-height: 30px; }
      .header-bottom .header-bottom2 ul li a {
        padding: 0 15px; }

.gouwuche:hover {
  background: url(../img/icon_cart.png) no-repeat 5px -40px #f6f6f6 !important;
  border: 2px solid #666 !important;
  width: 107px !important;
  height: 36px !important;
  border-right: none !important; }

.gouwuche:hover a span:nth-child(1) {
  color: red !important; }

.gouwuche:hover a span:nth-child(2) {
  color: red !important; }

.main .main-topimg {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px; }
.main .main-nav {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  .main .main-nav .nav {
    float: left;
    width: 180px;
    height: 480;
    background-color: #fafafa;
    padding-left: 18px; }
    .main .main-nav .nav div {
      height: 30px;
      line-height: 30px;
      color: #666;
      font-family: 'Microsoft YaHei';
      font-size: 14px; }
  .main .main-nav .banner {
    width: 796px;
    height: 326px;
    border: 1px solid blue;
    float: left; }
  .main .main-nav .banner-bottom {
    width: 796px;
    height: 150px;
    border: 1px solid blue;
    float: left; }
  .main .main-nav .xxgg {
    position: absolute;
    right: 0; }
    .main .main-nav .xxgg .xxgg2 {
      width: 202px;
      height: 173px;
      border: 1px solid blue; }
.main .rybh {
  width: 1200px;
  height: 372px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
  padding-top: 20px; }
  .main .rybh .rybh-top {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 40px; }
    .main .rybh .rybh-top .title {
      float: left;
      font: bold 20px/24px "Microsoft YaHei";
      color: #323232;
      line-height: 40px;
      padding: 0 20px 0 5px; }
      .main .rybh .rybh-top .title b {
        color: #ccc;
        font-weight: 100;
        padding-left: 20px; }
    .main .rybh .rybh-top .afu {
      float: left;
      line-height: 40px;
      margin-top: 5px; }
      .main .rybh .rybh-top .afu li {
        float: left;
        padding-right: 30px; }
        .main .rybh .rybh-top .afu li b {
          background: url(../img/title_bg.png); }
        .main .rybh .rybh-top .afu li span {
          font: bold 16px/20px "Microsoft YaHei";
          color: #323232; }
        .main .rybh .rybh-top .afu li em {
          color: #323232;
          font: 14px/20px "Microsoft YaHei";
          padding-left: 5px; }
  .main .rybh .rybh-middle {
    overflow: hidden;
    width: 1200px; }
    .main .rybh .rybh-middle .left {
      width: 400px; }
      .main .rybh .rybh-middle .left img {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        float: left; }
    .main .rybh .rybh-middle .main {
      float: left;
      overflow: hidden; }
    .main .rybh .rybh-middle .right {
      width: 400px; }
      .main .rybh .rybh-middle .right img {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        float: left; }
.main .rwsk {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0 30px 0; }
  .main .rwsk .img2 {
    margin: 0 23px 0 23px; }

.tuiJian {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
  border-bottom: 3px solid red;
  line-height: 36px; }
  .tuiJian h3 {
    font-size: 18px;
    color: red;
    font-weight: 600; }

.project {
  width: 1200px;
  height: 1382px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #ccc;
  margin-top: 10px; }
  .project .project-first {
    width: 198px;
    height: 271px;
    background-color: pink; }
    .project .project-first img {
      width: 190px;
      height: 190px;
      display: block;
      margin-left: 4px; }
    .project .project-first i {
      font-size: 13px;
      color: #666;
      display: block;
      width: 184px;
      height: 40px;
      overflow: hidden;
      margin-left: 4px; }
    .project .project-first span {
      color: #ff2832;
      font-size: 18px;
      margin-left: 4px; }

.footer {
  border-top: 2px solid #ff2832; }
  .footer .footer-1 {
    background: #fafafa;
    height: 79px;
    border-bottom: 1px solid #ebebeb; }
    .footer .footer-1 .footer-1-inner {
      width: 940px;
      margin: 0 auto;
      height: 68px;
      padding: 5px 0 5px 30px; }
      .footer .footer-1 .footer-1-inner a {
        display: block;
        height: 52px;
        width: 187px;
        float: left;
        padding: 7px 0 7px 48px; }
        .footer .footer-1 .footer-1-inner a .pic1 {
          padding: 7px 0 7px 48px;
          display: inline-block;
          width: 138px;
          height: 38px;
          background: url(../img/footer_bg.png) no-repeat 0 0; }
        .footer .footer-1 .footer-1-inner a .pic2 {
          padding: 7px 0 7px 48px;
          display: inline-block;
          width: 138px;
          height: 38px;
          background: url(../img/footer_bg.png) no-repeat 0 -51px; }
        .footer .footer-1 .footer-1-inner a .pic3 {
          padding: 7px 0 7px 48px;
          display: inline-block;
          width: 138px;
          height: 38px;
          background: url(../img/footer_bg.png) no-repeat 0 -103px; }
        .footer .footer-1 .footer-1-inner a .pic4 {
          padding: 7px 0 7px 48px;
          display: inline-block;
          width: 138px;
          height: 38px;
          background: url(../img/footer_bg.png) no-repeat 0 -156px; }
  .footer .footer-2 {
    width: 920px;
    height: 140px;
    margin: 0 auto;
    padding-top: 30px; }
    .footer .footer-2 div {
      width: 150px;
      float: left;
      text-align: center; }
      .footer .footer-2 div span {
        display: block;
        padding-left: 30px;
        font-size: 14px;
        font-family: "microsoft yahei";
        color: #323232;
        height: 36px;
        line-height: 36px; }
      .footer .footer-2 div ul {
        padding-left: 30px;
        list-style: none;
        margin: 0; }
        .footer .footer-2 div ul li {
          line-height: 20px;
          height: 20px; }
          .footer .footer-2 div ul li a {
            text-decoration: none;
            color: #7d7d7d;
            font-size: 12px; }
  .footer .footer-3 {
    width: 100%;
    border-top: 1px solid #ebebeb;
    text-align: center;
    padding-top: 20px; }
    .footer .footer-3 .footer-3-top {
      font-family: "Hiragino Sans GB", 瀹嬩綋, SimSun;
      line-height: 20px;
      color: #8c8c8c;
      font-size: 12px; }
      .footer .footer-3 .footer-3-top a {
        text-align: center; }
      .footer .footer-3 .footer-3-top span {
        margin: 0 17px 0 19px; }
    .footer .footer-3 .footer-3-bottom {
      font-family: "Hiragino Sans GB", 瀹嬩綋, SimSun;
      color: #8c8c8c;
      width: 960px;
      margin: 0 auto;
      text-align: center;
      padding: 30px 0 30px 0; }

/*# sourceMappingURL=index.css.map */
